<div class="col-12">
    <div class="card shadow">
        <div class="card-body">
            <h5 class="card-title">{{cardTitle}}</h5>
            <p class="card-text">{{cardBodyText}}</p>
            <div class="d-block d-lg-none">
                <a href="#" class="btn btn-success rounded-0 d-block mb-2 text-capitalize">{{leftBtnText}}</a>
                <a href="#" class="btn btn-danger rounded-0 d-block text-capitalize">{{rightBtnText}}</a>
            </div>
            <div class="d-none d-lg-block">
                <a href="#" class="card-link btn btn-success rounded-0 text-capitalize">{{leftBtnText}}</a>
                <a href="#" class="card-link btn btn-danger rounded-0  text-capitalize">{{rightBtnText}}</a>
            </div>
        </div>
    </div>
</div>
